tags
data.mdb
lock.mdb
v0-lock
keys.txt
test
.buildcmd
.build-result
shell.nix
*.dSYM
*.zst
testdata/many-events.json
testdata/db/ndb-v0.tar
testdata/db/v0
TODO.bak
test_contacts_ndb_note
bench
bench-ingest
bench-ingest-many
configurator
config.h
libsecp256k1.a
.direnv/
deps/
testdata/db/*.mdb
ndb

rust/src/bindings.rs

# Added by cargo

/target
/Cargo.lock
