tags
build.log
.dirstamp
*.swp
data.mdb
lock.mdb
v0-lock
keys.txt
test
.buildcmd
.build-result
deps/libsodium/**/Makefile
deps/libsodium/config.status
*.dSYM
*.zst
*.o
*.la
*.lo
*.a
*.lai
*.Plo
libnostrdb.a
perf.data
perf.folded
perf.data.old
perf.out
ndb.svg
flamegraph.html
testdata/many-events.json
testdata/db/ndb-v0.tar
testdata/db/v0
TODO.bak
test_contacts_ndb_note
bench
bench-ingest
bench-ingest-many
configurator
deps/libsodium/config.log
libsecp256k1.a
.direnv/
deps/secp256k1
testdata/db/*.mdb
deps/*.tar.gz
deps/.dir
ndb

# Added by cargo

/target
/Cargo.lock

# mdBook output
/book
/docs/book/build
