tags
data.mdb
lock.mdb
v0-lock
keys.txt
test
.buildcmd
.build-result
*.dSYM
*.zst
*.o
testdata/many-events.json
testdata/db/ndb-v0.tar
testdata/db/v0
TODO.bak
test_contacts_ndb_note
bench
bench-ingest
bench-ingest-many
configurator
libsecp256k1.a
.direnv/
deps/secp256k1
testdata/db/*.mdb
deps/*.tar.gz
deps/.dir
ndb

# Added by cargo

/target
/Cargo.lock
