name: C/C++ CI

on:
  push:
    branches: [ "master", "ci" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Step to install required tools
    - name: Install required tools
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake ninja-build #flatbuffers-compiler

    # Step to clone and build flatcc
    #- name: Build flatcc
    #  run: |
    #    git clone https://github.com/dvidelabs/flatcc.git
    #    cd flatcc
    #    git checkout v0.6.1
    #    ./scripts/build.sh
    #    sudo cp bin/flatcc /usr/bin

        #- name: flatc version
        #  run: flatc --version

    - name: make all
      run: make

    - name: make check
      run: make check
